body {
  background: #F1F5FB;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  font-size: 17px;
  line-height: 1.3;
  color: #3a3a3d;
  font-family: "Poppins", sans-serif;
}

h1 {
  font: Bold 32px/47px Poppins;
}
.container-fluid {
  width: 100%;
}
header .container-fluid {
  width: 100%;
}
.btn {
  border-radius: 50px;
  opacity: 1;
  letter-spacing: 0;
  font-size: 17px;
  height: 44px;
  padding: 9px 25px;
}
.btn-small {
  font-size: 15px;
  height: 42px;
}
.btn-primary {
  background: #7764ca 0% 0% no-repeat padding-box;
  width: 203px;
  border: none;
}

.logo-text {
  font: 25px/38px "Poppins";
  color: #ffffff;
  margin-top: 30px;
}

.login-banner {
  background: url("../img/loginbanner.png");
}

.admin-container .form-control {
  border: none;
  border-bottom: 2px solid #e9e9f0;
  height: 39px;
  font-size: 18px;
  border-radius: unset;
}
.form-group {
  margin-bottom: 40px;
}
.white-bg {
  background: #fff;
}

.admin-container .footer {
  position: absolute;
  width: inherit;
  bottom: 0px;
  padding: 15px;
  left: 0px;
} 

.row-100 {
  height: 100vh !important;
}

.dropdown-menu .profile-dropdown {
  top: 24px !important;
  right: 0px !important;
  max-width: 250px;
}

.settings-header {
  background: #fff;
}

.settings-header nav ul li a {
  color: #818FAE;
  /* color: #7764CA; */
}

.settings-header nav ul li a.active {
  color: #7764CA;
  font-weight: 500;
}

.login-box { 
  margin-top: -143px;
  top: 50%;
  position: absolute;
}

.btn-secondary {
  background: #7764ca;
  border: 1px solid #f1f5fb;
}

.btn-warning {
  background: #FF9F00;
  color: #FFF;
}

.btn-light {
  background: #EAEFF5;
  border: #919EB933;
}
.btn-link {
  padding: 10px 0;
}
h2 {
  color: #242222;
  font-size: 21px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-15 {
  margin-bottom: 15px;
}
.text-white {
  color: #fff;
}
.text-purple {
  color: #7764ca;
}
.text-grey {
  color: #919EB9;
}

.text-orange {
  color: #f3af0e;
}
.box-shadow {
  box-shadow: 0px 3px 9px #00000029;
}
.form-control {
  border: none;
  border-bottom: 1px solid #e9e9f0;
  height: 34px;
  font-size: 17px;
  border-radius: unset;
}
.justify-content-end select.form-control {
  border-bottom: none;
}
.form-check-input {
  margin-top: 0.4rem;
}
.form-check-label {
  font-size: 17px;
}
.form-check {
  margin-bottom: 10px;
}
label{
  color: #818FAE;
  font-size: 17px;
}

.filter hr {
  margin-left: -15px;
  margin-right: -15px;
}
.text-small {
  font-size: 15px;
}
.upload-section{
  background: #B4A9E517;
  padding: 20px;
  text-align: center;
  border: 1px dashed #E5E1F5;
}
.upload-btn{
  display: inline-block;
}
.upload-icon{
  color: #7764CA;
  font-size: 50px;
}
.upload-text{
  display: block;
  color: #919EB9;
}
.upload-btn:hover{
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}
/* chapters */

header {
  background: #7764ca 0% 0% no-repeat padding-box;
  height: 80px;
  color: #fff;
}
.p-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.filter-header {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000017;
  height: 75px;
  padding-top: 15px;
  position: relative;
}

.chapter-section {
  background: #f1f5fb 0% 0% no-repeat padding-box;
  padding: 30px 0;
}
.filter {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #eff1f2;
  border-radius: 5px;
  padding: 15px;
}
.chapter-box {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000017;
  border: 1px solid #eff1f2;
  border-radius: 5px;
  padding: 15px;
}
.chapter-box .media {
  margin-top: 20px;
  margin-bottom: 20px;
}
.chapter-box .media img {
  border: 1px solid #e7e7f1;
  border-radius: 2px;
  width: 60px;
  height: 63px;
}

/* HeaderSection start */
nav ul,
nav ul li,
aside ul,
aside.sidenav ul li {
  margin: 0px;
  padding: 0px;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a {
  color: #d2c9f8;
  text-decoration: none;
  font-size: 19px;
  font-weight: 400;
  padding: 24px 32px;
  display: block;
  border-right: 1px solid #6a55c5;
}
nav ul li a.active {
  color: #fff;
  font-weight: 500;
}
nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}
nav .logo {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
}
.setting-option {
  font-size: 22px;
  display: inline-block;
  margin-top: 22px;
  padding: 0 15px;
  color: #fff;
}

.setting-option span {
  font-size: 15px;
}

/* main section */
.admin-heading-level1 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 30px;
}
aside.sidenav {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 15px 0;
}
aside.sidenav ul li {
  list-style: none;
}
.sidenav ul li a {
  color: #818fae;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  display: block;
  padding: 12px 23px;
  position: relative;
}
.sidenav li a.active {
  color: #7764ca;
}
.sidenav li a.active:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background: #7764ca;
}
.sidenav ul li a .fa {
  margin-right: 15px;
}
.btn .fa {
  margin: 0 5px;
}
.wrapper-heading {
  font-size: 19px;
  font-weight: 400;
}
.main-section {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 15px;
}

.card-box {
  box-shadow: 0px 3px 13px #0000001c;
  border: 1px solid #e9e9f0;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 35px;
  position: relative;
}
.card-box .class-count {
  font-size: 18px;
  color: #7764ca;
  margin-top: 20px;
}
.card-box .board-name {
  font-size: 19px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 5px;
}
.card-box .board-code {
  font-size: 17px;
  font-weight: 300;
  color: #818FAE;
}
.card-box:hover {
  box-shadow: 0px 3px 13px #7764ca6e;
  border: 1px solid #7764ca;
  border-radius: 11px;
}
.card-box .edit-box {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #919eb9;
  border-radius: 4px;
  width: 140px;
  height: 40px;
  display: block;
  left: 50%;
  position: absolute;
  display: none;
  top: -20px;
  margin-left: -70px;
}
.card-box:hover .edit-box{
    display: block;
}
.edit-box a {
    font-size: 19px;
    width: 50%;
    display: inline-block;
    line-height: 40px;
    text-align: center;
}
.edit-box .fa-trash{
    color: #F68181;
}
.edit-box .fa-pencil-square-o{
    color: #6A57C1;
}
.card-box .board-type{
    background: #EAEFF5 0% 0% no-repeat padding-box;
border-radius: 5px;
color: #818FAE;
font-size: 17px;
text-align: center;
margin-top: 20px;
height: 29px;
line-height: 29px;
}
.card-box .board-type span{
    width: 49%;
    display: inline-block;
    text-align: center;
}
.card-box .board-type span:first-of-type{
    border-right: 1px solid #C2CDD9;
}
.card-box .board-type.chapter-btn span{
  width: 32%;
  border-right: 1px solid #C2CDD9;
  font-size: 14px;
}
.card-box .board-type.chapter-btn span:last-of-type{
  border-right: none;
}
.chapter-content{
  color: #919EB9;
  margin: 20px 0 5px;
  font-weight: 300;
}
.chapter-box .board-name{
  margin-top: 10px;
}

.modal-footer {
  display: initial;
  border: none;
}
.modal-footer .btn {
  width: 120px;
}
h5.modal-title {
  font-size: 20px;
  font-weight: 600;
  color: #7764CA;
}
.modal-header{
  background: #EAEFF5;
}

.cover-img img {
 max-width: 100%;
 margin: 20px 0;
}

.banner-section {
  background: #6A57C1;
  color: #E4DEDE;
  padding: 30px 0;
}
.banner-section .media {
  padding: 20px 0;
}
.banner-section .media-body p {
  margin-bottom: 0px;
}
.media-list {
  padding: 0px;
  margin: 20px 0 0 0;
}
.media-list li{
  float: left;
    padding: 5px 10px;
    list-style: none;
    color: #818FAE;
    background: #EEF2F9;
    border-right: 1px solid #70707047;
}
.media-list li:first-child{
  border-radius: 5px 0 0 5px;
}
.media-list li:last-child{
  border-radius: 0 5px 5px 0;
  border-right: none;
}

/* create unit page */
.unit-header {
  position: relative;
  height: 65px;
  line-height: 65px;
  border-bottom: 1px solid #E9E9F0;
  padding-right: 80px;
}
.accordion-btn {
  width: 65px;
    height: 65px;
    display: block;
    top: 0px;
    position: absolute;
    text-align: center;
    right: 0px;
    border-left: 1px solid #E9E9F0;
}
.info-box {
  height: 46px;
  background: #EAEFF5;
  border-left: 6px solid #7764ca;
  border-radius: 3px;
  line-height: 46px;
  font-size: 19px;
  padding: 0 15px;
}

.que-ans-box {
  border: 1px solid #cbc6c673;
    padding: 40px;
    margin: 0 30px;
    position: relative;
}
.box-number, .acc-btn, .trash-icon{
  display: block;
  width: 34px;
  height: 42px;
  position: absolute;
  z-index: 1;
  line-height: 42px;
  background: #f8f9fa;
  text-align: center;
  left: -17px;
  top: calc(50% - 21px);
  border: 1px solid #CCC;
  border-radius: 3px;
}

.acc-btn, .trash-icon {
  left: auto;
  top: calc(50% - 50px);
  right: -17px;
}
.trash-icon {
  bottom: calc(50% - 50px);
    top: auto;
}
.action-list {
  position: absolute;
    top: -21px;
    width: 150px;
    height: 42px;
    line-height: 42px;
    left: calc(50% - 75px);
    text-align: center;
    background: #FFF;
    border: 1px solid #E9E9F0;
    border-radius: 3px;
}
.action-list span {
  width: 33%;
  display: inline-block;
}
.action-list span img {
  width: 25px;
    height: 26px;
    position: relative;
    top: -2px;
}
span.badge {
  width: 75px;
  height: 21px;
  color: #FFF;
  line-height: 17px;
  margin-right: 15px;
}
.badge-warning {
  background: #FF9F00;
}
.badge-primary {
  background: #6a55c5;
}
.addnew {
  margin: 20px 30px 20px 20px;
    display: inline-block;
}

.custom-textarea {
  background: #F1F5FB 0% 0% no-repeat padding-box;
border-radius: 5px;
height: 250px !important;
}
.radio-box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 16px #00000029;
border-radius: 5px;
opacity: 1;
padding: 1rem 3rem !important;
}
.radio-box .form-check {
  width: 29%;
}

.dropzone {
  min-height: auto;
  border: none;
  background: none;
  padding: 0;
}

.dropzone .dz-message {
  text-align: center;
  margin: auto;
}
#tag_container nav {
  width: 100%;
}

#tag_container nav ul{
  float: right;
}

.loading {
  position: absolute; 
  left: 0; 
  top: 0; 
  bottom:0; 
  right:0; 
  margin: auto; 
  z-index: 100000;
}

.unit-section{
  padding: 0px;
}
.unit-row{
  padding: 20px 10px;
  width: 100%;
  margin: auto 15px auto 15px;
}
.unit-row:nth-of-type(even) {
background:#EAEFF5;
}
.top-text,.bottom-text {
  display: block;
  color:#818FAE;
}
.drag-icon, .delete-icon{
   width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
.drag-icon {
  border: 1px solid #f3af0e;
  color:#f3af0e;

}
.delete-icon {
color: #F96387;
border: 1px solid #F96387;
margin-left: 10px;
}
.row-img {
  border-radius: 50%;
  width: 50px;
  float: left;
  height: 50px;
  margin-right: 15px;
}
.unit-title {
  font-weight: 600;
}
.sort-text {
  color: #000;
    margin-right: 20px;
}

.import-content {
  max-width: 100%;
  margin: 0;
  padding: 0 !important;
}

.import-content .btn {
  width: auto;
}

.unit-textarea {
  background: #F1F5FB 0% 0% no-repeat padding-box;
border-radius: 5px;
}

.remove_field {
  cursor: pointer;
}

.dashboard_card_box {
  background: transparent linear-gradient(180deg, #5942B9 0%, #8269EC 100%) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  color: #FFFFFF;
}

.dashboard_card_box .class-count {
  text-align: left;
  color: #FFFFFF;
  font: Bold 36px/55px Poppins;
  letter-spacing: 0;
  margin-top: auto;
}

.dashboard_card_box .board-name {
  font-size: 15px;
  font-weight: normal;
  margin: auto;
  color: #FFFFFF;
}
.dashboard_card_box .board-name a{
  color: #FFFFFF;
}
.dashboard_card_box .icon {
  text-align: center;
  font-size: 35px;
  padding: 10px;
  margin-left: 14px;
  border-radius: 10px;
  bottom: 5px;
  margin-bottom: 10px;
  background: #28CE8B 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

.dashboard_card_box .red {
  background: #FC6666;
}

.dashboard_card_box .blue {
  background: #87CAFF;
}

.dashboard_card_box .yellow {
  background: #F6B528;
}