 /* slider */
.sliderContainer {
	position:fixed !important;
	width:100%;
	height:100%;
	margin:0 auto;
	overflow:hidden;
}

.sliderContainer .flashCard:first-child {
	position:absolute;
	/* width:100%; */
	left:0%;
	top:0;
}

.flashCard {
	position:absolute !important;
	
	left:-100%;
	top:0;
    /* margin: 20px; */
}

.nextCircle {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:85%;
	width:50px;
	height:50px;
	border-radius: 50%;
	opacity:0.5;
	background-color:black;
	z-index:19;	
}

.next {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:white;
	z-index:20;

}

.nextCircle:hover{
	opacity:0.7;
	cursor: pointer;
}

.fa.fa-arrow-right, .fa.fa-arrow-left {
	font-size:30px;
}

.prevCircle {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	right:85%;
	width:50px;
	height:50px;
	border-radius: 50%;
	opacity:0.5;
	background-color:black;
	z-index:19;	
}

.previous {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:white;
	z-index:20;
	
}

.prevCircle:hover {
	opacity: 0.7;
	cursor: pointer;
}

//flashCard

    .up {
      color: #55DD11;
    }
    .card {
      text-align: center;
      color: #FFFFFF;
      width: 100%;
      /* height: 300px; */
      min-height: 120px;
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
      box-shadow: 0px 3px 13px #0000001c;
      border: 1px solid #e9e9f0;
      border-radius: 5px;
      background-color: transparent !important;
      /* background-color: #654321; */
    }
    
    .card p {
        width: 100%;
    }

    .flipper {
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 10px;
      perspective: 1000px;
    }
    /* flip the pane when hovered */
    .flipper.flip .card {
      transform: rotateY(180deg);
    }
    .front,
    .back {
      width: 100%;
      padding: 5px;
      color: #000000;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      align-items: center;
      display: flex;
    }
    /* front pane, placed above back */
    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
      height: 100%;
    }
    /* back, initially hidden pane */
    .back {
      /* transform: rotateY(180deg); */
        height: 100%;
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
    }
    .goback {
      position: absolute;
      bottom: 0px;
      padding-left: 20px;
      left: 0px;
      text-decoration: underline;
      cursor: pointer;
    }
 
.sliderContainer .nextCircle {
	position:fixed;
	opacity:0.4;	
	top: 80%;
}
 
.sliderContainer .prevCircle {
	position:fixed;
	opacity:0.4;	
	top: 80%;
} 