.carousel-image {
    width: 100%;
    height: 200px;
               }

.carousel-indicators li {
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
}

.carousel-cap i {
    position: absolute;
    font-size: 5vw;
    bottom: 10px;
    left: 03%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 28px;
    color: #fff;
    text-align: center;
     
}

.carousel-logo {
      position: absolute !important;
      top: 1px !important;
      left: 1px !important;
      z-index: 2 !important;
      width: 180px !important;
      height: 120px !important;
}

.carousel-logo-3 {
      position: absolute !important;
      top: 1px !important;
      right: 1px !important;
      z-index: 1 !important;
      width: 180px !important;
      height: 120px !important;
}

.view-property {
    float: right;
}

.banner-sec {
  padding: 5px ;
  width: 100%;
  margin-bottom: 2px;
  background-color: #F5F5F5;
  color: #e4dede;
  display: block;
}

.text-warn {
    color: black !important;
    font-size: 20px;
    text-decoration: none;
    }


.logo-img {
  width: 320px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  padding: 5px;
}

.join-button{
  font-size: 18px;
  color: #111;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #da2e3fc9;
  width: 100%; 
}  
 /*Above are homepage course for join button css*/

