.stu-logo {
    padding: 20px 0;
    font-size: 20px;
    color: #7764ca;
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.btn-full {
    width: 100%;
}
.btn-goo {
    background: #de5246;
}

.btn-fac {
    background: #3b5998;
}
.container-fluid {
    width: 100%;
}

.footer-menu {
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 10px;
   background: #7764ca;
}

.footer-menu a {
    color: #FFF;
    font-size: 20px;
}

.admin-heading-level1{
    color:#7764ca;
    margin-bottom: 15px;
}
.admin-heading-level1 a {
    color:#7764ca;
    padding: 10px;

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #7764ca;
}
.tabsector {
    padding: 0 15px 15px;
}
.tabsector .nav-item a {
    color:#7764ca;
}
.course-box {
    overflow: hidden;
    /* padding: 2px; */
    /* border: 1px solid #FFF; */
    float: left;
    width: 48%;
    height: 150px;
    margin-bottom: 10px;
    position: relative;
}
.course-box a {
    display: block;
}
.course-box img {
    width: 100%;
    height: 150px;
}
.course-box:nth-child(odd) {
margin-right: 1%;
}
.course-box:nth-child(even) {
    margin-left: 1%;
}
.chapter-info {
    position: absolute;
    width: 100%;
    background: #673ab7bf;
    bottom: 0px;
    left: 0px;
    padding: 0 9px;
    color: #FFF;
}
.page-title {
    color: #f5f5f7;
    margin-bottom: 15px;
    background: #7764ca;
    text-align: center;
    padding: 10px;
}

.student-profile {
    padding: 10px 0 30px;
}
.student-profile img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}
.student-profile h2 {
    margin-top: 25px;
    float: left;
}

.banner-section {
    padding: 5px;
    width: 100%;
    margin-bottom: 2px;
    font-size: 20px;
}

.banner-section a{
	font-size: 20px;
}
.unit-card {
    margin: 5px;
    padding: 10px;
    background: #eaeaea;
    border-radius: 3px;
}
.unit-card p {
    margin-bottom: 5px;
    font-size: 14px;
}
.unit-card h5  {
    color: #7764ca;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}
.unit-card a {
    font-size: 14px;
}
.qaslider {
    position: absolute;
    width: 100%;
    bottom: 60px;
    padding: 0 20px;
}
.header-fixed .text-warning{
	color:#cfcfcf !important;
	text-decoration: none;	
}
.submit .btn {
    border-radius: 0px;
    padding: 10px 23px;
}
.title-card{
	padding: .5rem;
	width: 96%;
	display: inline-flex;
	background-color: #f7f5f5;
	border: solid 1px #9e9b99;
	margin: .5rem;
}